@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: "Inter", serif;
  min-height: 100vh;
  color: #222222;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 20vh;
}


#counterNumber {
  font-size: 64px;
  font-weight: 600;
  margin-bottom: 20vh;
}

.buttonsContainer {
  display: flex;
  gap: 60px;
  justify-content: center;
}

.buttonsContainer button {
  display: block;
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 40px;
  background-color: #fff;
  color: inherit;
  font-size: 32px;
  font-weight: 600;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.resetBtn {
  margin-top: 5vh;
  width: 120px;
  height: 44px;
  color: #fff;
  background-color: #FF3B30;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 12px;
}

button {
  cursor: pointer;
}
